@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #aea9d6;
    /* Hero pattern background */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff' fill-opacity='0.26'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E"); 
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./donald.gif');
    background-size: contain;
    background-position: 10% 25% ;
    background-repeat: no-repeat;
    background-size: 25%;
}

h1 {
   font-family: 'Josefin Sans', sans-serif; 
   color: rgb(24, 24, 24);
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    color: #020102;
    background: linear-gradient(to top, #e9b3d9, #7781eb);
    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 20px 5px rgba(0,0,0, 0.6);
}    

button:hover {
    filter: brightness(95%);
}

button:active {
    transform: scale(0.97);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
    .container {
        background-size: cover;
        background-position: center center;
    }

    button {
        box-shadow: 5px 5px 30px 20px rgba(255, 255, 255, 0.6);
    }
}